body{
    background-color: #F2D4CE;
    color:#730000;
    padding:30px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3{
    font-family: sans-serif,Arial, Helvetica,;
    font-weight: bold;
    line-height:42pt;
    color:#730000;

}

h1{
    font-size: 36pt;
    text-align: center;
}

h2{
    font-size: 30pt;
}

h3{
    font-size: 24pt;
}

p{
    line-height: 16pt;
}

img{
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 20px;
    border-top-right-radius:30px;
}

li{
    display: inline-block;
    margin-left:50px;
}