h1{
    font-size: 36pt;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-size: 30pt;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:brown
}

h3{
    font-size: 24pt;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:brown;
}

p{
    line-height: 16pt;
}

img{
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    margin: 20px;
    border-top-right-radius:30px;
}

li{
    display: inline-block;
    margin-left:50px;
}